.sidebar-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-container li {
  margin-bottom: 10px;
}

/* Default menu item */
.menu-item {
  display: block;
  background: #f0f4ff;
  color: #2b3a55;
  padding: 12px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s ease;
  border: 1px solid transparent;
}

/* Hover */
.menu-item:hover {
  background: #e1eaff;
  border-color: #b8c7ff;
}

/* ACTIVE STATE  */
.active-li a {
  background: #2b3a55;
  color: white;
  border-color: #1c2738;
}
